@import url(all.min.css);
:root {
    --color-bg: #ffffff;
    --color-text-main: #000000;
    --font-family: sans-serif;
}
*, *:before, *:after {
    box-sizing: border-box;
}
.container {
width: 75%;
height: auto;
background-color: rgb(255, 255, 255);
margin-right: auto;
margin-left: auto;
}
/* -------------------------------------------------------------------------- */
/*                                   HEADING                              */
/* -------------------------------------------------------------------------- */
.myHeading img {
    margin-right: 10px;
}
.myHeading h1,.myHeading img {
    display: inline-block;
    vertical-align: middle;
}
/*primary header */
.primary-header {
    align-items: center;
    justify-content: space-between;
}

.primary-nav{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* -------------------------------------------------------------------------- */
/*                                   DropDown                                  */
/* -------------------------------------------------------------------------- */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #f80303;}
/* -------------------------------------------------------------------------- */
/*                                   MAIN CONTENT                             */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
/*https://codepen.io/matheusalmeida/pen/aeLMMr?page=2*/
.footer {
    display: flex;
    flex-flow: row wrap; 
    padding: 50px;
    color: #ffffff;
    background-color: rgb(105, 105, 105);
    border-top: 1px solid #000000;
}
.footer > *{
    flex: 1 100%;
}
.footer_addressing {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

.footer_addressing h2 {
    margin-top: 1.3em;
    font-size: 15px;
    font-weight: 400;
}

.footer_logo {
    font-weight: 400;
    font-size: 4rem;
}

.nav-title {
    font-weight: 400;
    font-size: 15px;
}

.footer_btn { /*Create a block around the email us*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    max-width: max-content;
    background-color: rgb(33, 33, 33, 0.07);
    border-radius: 100px;
    color: #ffffff;
    line-height: 0;
    margin: 0.6em 0;
    font-size: 1rem;
    padding: 0 1.3em;
}
.footer ul { /*Make all the list inside the footer to have no circle and be one at the time*/
    list-style: none;
    padding-left: 0;
}

.footer li { 
    line-height: 2em; /*This is to create distance between list*/
}

.footer a {
    text-decoration: none;
}

.footer__nav {
    display: flex;
    flex-flow: row wrap;
}

.footer__nav > * {
    flex: 1 50%;
    margin-right: 1.25em;
  }
  
/* -------------------------------------------------------------------------- */
/*                                   Utilty class                               */
/* -------------------------------------------------------------------------- */

/* general */
.flex{
    display: flex;
    gap: var(--gap, 1rem);
}
.fa-brands{
    font-size: 2.5rem;
}
