body
{
    background-image: url("background.bmp"); 
}
#score
{
    margin-top: 2%;
    text-align: center;
    color: white
}
#form_div
{
    display: flex;
    justify-content: center;
}
form
{
    width:  60%;
    background-color: rgb(139, 112, 212);
    border-radius: 25px;
    padding: 5%;
}
.question
{
    border-top: 2px solid black;
}
#textareaDiv
{
    margin-top: 10px;
}
#submit_input
{
    width: 100%;
    margin-top: 15px;
}